
.container {
    display: flex;
}

.toolBar_Container {
    width: 400px; /* Set a width for the toolbar */
    /* Additional toolbar styles */
}

#pixelCanvas_Container { 
    display: flex;
    flex-direction: column; /* Stack children vertically */
    height: 100vh;
    width: 100vw;
    position: relative;
}

.canvasUtils {
    display: flex;
    z-index: 3;
    border: 4px dotted black;
    background-color: white;
    padding: 10px;
    flex-shrink: 0; /* Prevent it from shrinking */
}

.canvasWrapper {
    position: relative;
    flex-grow: 1; /* Allow it to take up the remaining space */
    overflow: hidden; /* Ensure canvases do not overflow */
}

#backgroundCanvas, #pixelCanvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#backgroundCanvas {
    z-index: 1;
}

#pixelCanvas {
    z-index: 2;
}

.colorInfoContainer{
    display: flex;

}

.colorBox {
    width: 10px;
    height: 10px;
    border: 4px dotted black;
}